html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e3e2df; 
}
* {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  color: #5d001e; 
}

.text-section {
  flex: 1;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  color: #9a1750;
  margin-right: 20px;
  padding: 20px;
}

.text-section p {
  margin: 10px 0;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
}

.placeholder-box {
  width: 100%;
  max-width: 450px;
  background-color: #e3afbc;
  padding: 40px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
}

.title-box {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5d001e;
  color: white;
  padding: 10px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.placeholder-box form {
  display: flex;
  flex-direction: column;
}

.placeholder-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9a1750;
  border-radius: 5px;
}

.placeholder-box button {
  padding: 10px;
  background-color: #5d001e; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.placeholder-box button:hover {
  background-color: #ee4c7c;
}
