.propertyDetailsPage {
  padding: 20px;
  background-color: #E3E2DF;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}

.pageTitle {
  text-align: center;
  color: #5D001E;
  font-weight: bold;
  font-size: 24px;
}

.propertyDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.imageGridContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.gridImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.propertyInfo {
  flex: 1;
  max-width: 50%;
  background: #E3AFBC;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.propertyInfo h4 {
  margin-bottom: 8px;
  color: #5D001E;
  font-size: 18px;
  font-weight: 600;
}

.propertyInfo p {
  color: #000000;
  font-size: 16px;
}

.propertyInfo .ant-list-item {
  font-size: 16px;
  color: black;
}

.propertyInfo .ant-list-item::marker {
  color: black;
}

@media (max-width: 768px) {
  .propertyDetailsContainer {
    flex-direction: column;
  }

  .imageGridContainer,
  .propertyInfo {
    max-width: 100%;
  }
}