.property-card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #E3AFBC;
}

.property-card-cover {
  width: 100%;
  height: 50%;
  position: relative;
}

.property-card-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.property-card-heart {
  position: absolute;
  top: 8px;
  right:2px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 18px;
  color: red;
}

.property-card-title {
  margin-bottom: 8px; 
  font-size: 16px;
}

.property-card-area {
  font-size: 14px; 
  color: black;
}

.property-card-address {
  margin: 8px 0;
  font-size: 14px; 
}

.property-card-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px; 
}

.property-card-rating span {
  font-size: 14px; 
  margin-right: 4px;
}

.property-card-rate {
  font-size: 14px; 
}

.property-card-hover-button {
  position: absolute;
  bottom: 15px;
  left: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.property-card:hover .property-card-hover-button {
  opacity: 1;
}

.property-card:hover {
  scale: 1.08;
}

.property-card-hover-button button {
  background-color: #5D001E;
  color: white;
  border: none;
  font-size: 14px; 
  padding: 6px 12px; 
  border-radius: 4px; 
}